@charset "UTF-8";

/* $breakPoint memo *_utility記載 */
// $breakPoint01: "only screen and (max-width:1024px)";
// $breakPoint02: "only screen and (max-width:943px)";
// $breakPoint03: "only screen and (max-width:640px)";

/* ==|====================
   Layout/container
   ======================= */
.l-container {
}
.l-wrapper {
}

/* ==|====================
   Layout/Main
   ======================= */
.l-content {
    background: url('../img/content_bg.jpg');
    width: 100%;
    min-width: 1000px;
    -webkit-overflow-scrolling: touch;
    padding-top: 101px;
}

.l-content__inner {
    position: relative;
    clear: both;
    display: block;
    overflow: hidden;
    z-index: 0;
}
@media #{$breakPoint03} {
    .l-content {
        padding-top: 0px;
        min-width: auto;
    }
}

/*--------------------------
  .l-content__inner__inner == .l-content__inner > div
  htmlでの使用無し。@extend用
  .content__xx__inner { padding: 80px 0;}
*/
.l-inin {
    position: relative;
    display: block;
    overflow: hidden;
    // max-width: 1000px;
    // width: 80%;
    width: 1000px;
    margin: auto;
}
@media #{$breakPoint03} {
    .l-inin {
        width: 100%;
    }
}

/*--------------------------
  .l-content__inner-beforeBlock コンテンツつなぎ目:before用
  htmlでの使用無し。@extend用
*/
.l-content__inner-beforeBlock {
    content: " ";
    display: block;
    width: 100%;
    height: 90px;
    background: #ff7086 url('../img/seamline_bg.png');
}

/*--------------------------
  .l-content__inner__ttl コンテンツタイトル用
  htmlでの使用無し。@extend用
*/
.l-content__inner__ttl {
    position: absolute;
    top: -30px;
    left: -100px;
    height: 238px;
    width: 254px;
    background: url('../img/content_inner_ttl_bg.png') no-repeat;
    background-size: 100%;
    text-align: center;
}
// *$breakPoint02の切り替え削除
// @media #{$breakPoint02} {
//     .l-content__inner__ttl {
//         top: -30px;
//         left: -10%;
//         width: 35%;
//         background-size: contain;
//         img { width: 42%; }
//     }
// }
@media #{$breakPoint03} {
    .l-content__inner__ttl {
        height: auto;
        width: 50%;
        top: -30px;
        left: 15px;
        background: url("../img/content_inner_ttl_bg.png") no-repeat;
        background-size: contain;
        img {
            width: 42%;
        }
    }
}

/*--------------------------
  .l-content__inner__bg ***parallaxBg
  htmlでの使用無し。@extend用
*/
.l-content__inner__bg {
    position: absolute;
    top: 0;
    height: 200%;
    width: 100%;
    background: url('../img/content_inner_bg.png') center;
}

@media #{$breakPoint03} {
  .l-content__inner__bg {
      background: url('../img/content_inner_bg_sp.png') center -15px;
      background-size: contain;
      transform: translateZ(0px);
      -ms-transform: translateZ(0px);
      -moz-transform: translateZ(0px);
      -webkit-transform: translateZ(0px);
  }
}

/*--------------------------
  .l-content__inner__btn 下層ページ用ボタンスタイル
  htmlでの使用無し。@extend用
*/
.l-content__inner__btn {
    max-width: 630px;
    text-align: center;
    margin: 60px auto;
    a {
        display: block;
        background: $color3;
        box-sizing: border-box;
        border: 4px solid $color3;
        border-radius: 10px;
        padding: 20px 80px;
        transition: all 300ms ease-out;
        &:hover {
            background: $color1;
        }
    }
}

@media #{$breakPoint03} {
  .l-content__inner__btn {
      margin: 40px auto 60px;
      a {
          padding: 1rem 2rem;
          margin: 15px 25px;
      }
  }
}